{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://data.iot.amazonaws.com/"
        },
        {
            "url": "http://data.iot.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<fullname>AWS IoT</fullname> <p>AWS IoT-Data enables secure, bi-directional communication between Internet-connected things (such as sensors, actuators, embedded devices, or smart appliances) and the AWS cloud. It implements a broker for applications and things to publish messages over HTTP (Publish) and retrieve, update, and delete thing shadows. A thing shadow is a persistent representation of your things and their state in the AWS cloud.</p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS IoT Data Plane",
        "version": "2015-05-28",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/iot-data-2015-05-28.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "iot-data"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/iot/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/things/{thingName}/shadow": {
            "delete": {
                "description": "<p>Deletes the thing shadow for the specified thing.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/iot/latest/developerguide/API_DeleteThingShadow.html\">DeleteThingShadow</a> in the <i>AWS IoT Developer Guide</i>.</p>",
                "operationId": "DeleteThingShadow",
                "parameters": [
                    {
                        "in": "path",
                        "name": "thingName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The output from the DeleteThingShadow operation.",
                                    "properties": {
                                        "payload": {
                                            "description": "The state information, in JSON format.",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "payload"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The specified resource does not exist.",
                                    "properties": {
                                        "message": {
                                            "description": "The message for the exception.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The request is not valid.",
                                    "properties": {
                                        "message": {
                                            "description": "The message for the exception.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The rate exceeds the limit.",
                                    "properties": {
                                        "message": {
                                            "description": "The message for the exception.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "UnauthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "You are not authorized to perform this operation.",
                                    "properties": {
                                        "message": {
                                            "description": "The message for the exception.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "484": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The service is temporarily unavailable.",
                                    "properties": {
                                        "message": {
                                            "description": "The message for the exception.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "485": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An unexpected error has occurred.",
                                    "properties": {
                                        "message": {
                                            "description": "The message for the exception.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "486": {
                        "description": "MethodNotAllowedException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The specified combination of HTTP verb and URI is not supported.",
                                    "properties": {
                                        "message": {
                                            "description": "The message for the exception.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "487": {
                        "description": "UnsupportedDocumentEncodingException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The document encoding is not supported.",
                                    "properties": {
                                        "message": {
                                            "description": "The message for the exception.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The input for the DeleteThingShadow operation.",
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "get": {
                "description": "<p>Gets the thing shadow for the specified thing.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/iot/latest/developerguide/API_GetThingShadow.html\">GetThingShadow</a> in the <i>AWS IoT Developer Guide</i>.</p>",
                "operationId": "GetThingShadow",
                "parameters": [
                    {
                        "in": "path",
                        "name": "thingName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The output from the GetThingShadow operation.",
                                    "properties": {
                                        "payload": {
                                            "description": "The state information, in JSON format.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The request is not valid.",
                                    "properties": {
                                        "message": {
                                            "description": "The message for the exception.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The specified resource does not exist.",
                                    "properties": {
                                        "message": {
                                            "description": "The message for the exception.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The rate exceeds the limit.",
                                    "properties": {
                                        "message": {
                                            "description": "The message for the exception.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "UnauthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "You are not authorized to perform this operation.",
                                    "properties": {
                                        "message": {
                                            "description": "The message for the exception.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "484": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The service is temporarily unavailable.",
                                    "properties": {
                                        "message": {
                                            "description": "The message for the exception.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "485": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An unexpected error has occurred.",
                                    "properties": {
                                        "message": {
                                            "description": "The message for the exception.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "486": {
                        "description": "MethodNotAllowedException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The specified combination of HTTP verb and URI is not supported.",
                                    "properties": {
                                        "message": {
                                            "description": "The message for the exception.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "487": {
                        "description": "UnsupportedDocumentEncodingException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The document encoding is not supported.",
                                    "properties": {
                                        "message": {
                                            "description": "The message for the exception.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The input for the GetThingShadow operation.",
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Updates the thing shadow for the specified thing.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/iot/latest/developerguide/API_UpdateThingShadow.html\">UpdateThingShadow</a> in the <i>AWS IoT Developer Guide</i>.</p>",
                "operationId": "UpdateThingShadow",
                "parameters": [
                    {
                        "in": "path",
                        "name": "thingName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The output from the UpdateThingShadow operation.",
                                    "properties": {
                                        "payload": {
                                            "description": "The state information, in JSON format.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ConflictException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The specified version does not match the version of the document.",
                                    "properties": {
                                        "message": {
                                            "description": "The message for the exception.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "RequestEntityTooLargeException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The payload exceeds the maximum size allowed.",
                                    "properties": {
                                        "message": {
                                            "description": "The message for the exception.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The request is not valid.",
                                    "properties": {
                                        "message": {
                                            "description": "The message for the exception.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The rate exceeds the limit.",
                                    "properties": {
                                        "message": {
                                            "description": "The message for the exception.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "484": {
                        "description": "UnauthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "You are not authorized to perform this operation.",
                                    "properties": {
                                        "message": {
                                            "description": "The message for the exception.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "485": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The service is temporarily unavailable.",
                                    "properties": {
                                        "message": {
                                            "description": "The message for the exception.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "486": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An unexpected error has occurred.",
                                    "properties": {
                                        "message": {
                                            "description": "The message for the exception.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "487": {
                        "description": "MethodNotAllowedException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The specified combination of HTTP verb and URI is not supported.",
                                    "properties": {
                                        "message": {
                                            "description": "The message for the exception.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "488": {
                        "description": "UnsupportedDocumentEncodingException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The document encoding is not supported.",
                                    "properties": {
                                        "message": {
                                            "description": "The message for the exception.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The input for the UpdateThingShadow operation.",
                                "properties": {
                                    "payload": {
                                        "description": "The state information, in JSON format.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "payload"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/topics/{topic}": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Publishes state information.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/iot/latest/developerguide/protocols.html#http\">HTTP Protocol</a> in the <i>AWS IoT Developer Guide</i>.</p>",
                "operationId": "Publish",
                "parameters": [
                    {
                        "in": "path",
                        "name": "topic",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An unexpected error has occurred.",
                                    "properties": {
                                        "message": {
                                            "description": "The message for the exception.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The request is not valid.",
                                    "properties": {
                                        "message": {
                                            "description": "The message for the exception.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "482": {
                        "description": "UnauthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "You are not authorized to perform this operation.",
                                    "properties": {
                                        "message": {
                                            "description": "The message for the exception.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "483": {
                        "description": "MethodNotAllowedException",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The specified combination of HTTP verb and URI is not supported.",
                                    "properties": {
                                        "message": {
                                            "description": "The message for the exception.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The input for the Publish operation.",
                                "properties": {
                                    "payload": {
                                        "description": "The state information, in JSON format.",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ConflictException": {
                "description": "The specified version does not match the version of the document.",
                "properties": {
                    "message": {
                        "description": "The message for the exception.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "DeleteThingShadowRequest": {
                "description": "The input for the DeleteThingShadow operation.",
                "properties": {},
                "type": "object"
            },
            "DeleteThingShadowResponse": {
                "description": "The output from the DeleteThingShadow operation.",
                "properties": {
                    "payload": {
                        "description": "The state information, in JSON format.",
                        "type": "string"
                    }
                },
                "required": [
                    "payload"
                ],
                "type": "object"
            },
            "ErrorMessage": {
                "type": "string"
            },
            "GetThingShadowRequest": {
                "description": "The input for the GetThingShadow operation.",
                "properties": {},
                "type": "object"
            },
            "GetThingShadowResponse": {
                "description": "The output from the GetThingShadow operation.",
                "properties": {
                    "payload": {
                        "description": "The state information, in JSON format.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "InternalFailureException": {
                "description": "An unexpected error has occurred.",
                "properties": {
                    "message": {
                        "description": "The message for the exception.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "InvalidRequestException": {
                "description": "The request is not valid.",
                "properties": {
                    "message": {
                        "description": "The message for the exception.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "JsonDocument": {
                "type": "string"
            },
            "MethodNotAllowedException": {
                "description": "The specified combination of HTTP verb and URI is not supported.",
                "properties": {
                    "message": {
                        "description": "The message for the exception.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Payload": {
                "type": "string"
            },
            "PublishRequest": {
                "description": "The input for the Publish operation.",
                "properties": {
                    "payload": {
                        "description": "The state information, in JSON format.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Qos": {
                "maximum": 1,
                "minimum": 0,
                "type": "integer"
            },
            "RequestEntityTooLargeException": {
                "description": "The payload exceeds the maximum size allowed.",
                "properties": {
                    "message": {
                        "description": "The message for the exception.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "ResourceNotFoundException": {
                "description": "The specified resource does not exist.",
                "properties": {
                    "message": {
                        "description": "The message for the exception.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "ServiceUnavailableException": {
                "description": "The service is temporarily unavailable.",
                "properties": {
                    "message": {
                        "description": "The message for the exception.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "ThingName": {
                "maxLength": 128,
                "minLength": 1,
                "pattern": "[a-zA-Z0-9_-]+",
                "type": "string"
            },
            "ThrottlingException": {
                "description": "The rate exceeds the limit.",
                "properties": {
                    "message": {
                        "description": "The message for the exception.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Topic": {
                "type": "string"
            },
            "UnauthorizedException": {
                "description": "You are not authorized to perform this operation.",
                "properties": {
                    "message": {
                        "description": "The message for the exception.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "UnsupportedDocumentEncodingException": {
                "description": "The document encoding is not supported.",
                "properties": {
                    "message": {
                        "description": "The message for the exception.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "UpdateThingShadowRequest": {
                "description": "The input for the UpdateThingShadow operation.",
                "properties": {
                    "payload": {
                        "description": "The state information, in JSON format.",
                        "type": "string"
                    }
                },
                "required": [
                    "payload"
                ],
                "type": "object"
            },
            "UpdateThingShadowResponse": {
                "description": "The output from the UpdateThingShadow operation.",
                "properties": {
                    "payload": {
                        "description": "The state information, in JSON format.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "errorMessage": {
                "type": "string"
            }
        },
        "parameters": {
            "Action": {
                "in": "query",
                "name": "Action",
                "required": true,
                "schema": {
                    "type": "string"
                }
            },
            "Version": {
                "in": "query",
                "name": "Version",
                "required": true,
                "schema": {
                    "type": "string"
                }
            },
            "X-Amz-Algorithm": {
                "in": "header",
                "name": "X-Amz-Algorithm",
                "required": false,
                "schema": {
                    "type": "string"
                }
            },
            "X-Amz-Content-Sha256": {
                "in": "header",
                "name": "X-Amz-Content-Sha256",
                "required": false,
                "schema": {
                    "type": "string"
                }
            },
            "X-Amz-Credential": {
                "in": "header",
                "name": "X-Amz-Credential",
                "required": false,
                "schema": {
                    "type": "string"
                }
            },
            "X-Amz-Date": {
                "in": "header",
                "name": "X-Amz-Date",
                "required": false,
                "schema": {
                    "type": "string"
                }
            },
            "X-Amz-Security-Token": {
                "in": "header",
                "name": "X-Amz-Security-Token",
                "required": false,
                "schema": {
                    "type": "string"
                }
            },
            "X-Amz-Signature": {
                "in": "header",
                "name": "X-Amz-Signature",
                "required": false,
                "schema": {
                    "type": "string"
                }
            },
            "X-Amz-SignedHeaders": {
                "in": "header",
                "name": "X-Amz-SignedHeaders",
                "required": false,
                "schema": {
                    "type": "string"
                }
            }
        },
        "securitySchemes": {
            "hmac": {
                "description": "Amazon Signature authorization v4",
                "in": "header",
                "name": "Authorization",
                "type": "apiKey",
                "x-amazon-apigateway-authtype": "awsSigv4"
            }
        }
    }
}